@include govuk-exports("govuk/component/hide-this-page") {
  @media only screen {
    .js-enabled .govuk-hide-this-page__container.govuk-visually-hidden {
      display: block;
    }

    .govuk-hide-this-page__container.govuk-hide-this-page__enabled {
      display: block;
      position: -webkit-sticky;
      position: sticky;
      z-index: 1000;
      top: 0;
      float: right;

      .govuk-hide-this-page__iesizing {
        visibility: hidden;
      }
    }

    .govuk-hide-this-page__position {
      z-index: 1000;
      background-color: govuk-colour("white");

      .govuk-hide-this-page {
        width: 100%;
        margin-bottom: 0;
      }

      .govuk-hide-this-page--info {
        margin: 0;
        padding: 10px 0;
        border: 1px $govuk-border-colour solid;
        border-top-style: none;
        text-align: center;
      }
    }
  }

  .govuk-hide-this-page__position {
    position: fixed;
  }

  @media only screen and (min-width: 641px) {
    @supports (position: sticky) {
      .govuk-hide-this-page__position {
        position: sticky;
        top: 0;
      }
    }
  }
  @media only screen and (max-width: 640px) {
    .govuk-hide-this-page__iesizing {
      display: none;
    }

    .js-enabled .govuk-hide-this-page__container.govuk-visually-hidden {
      display: block;

      ~.gem-c-cookie-banner__confirmation,
      .gem-c-cookie-banner {
        padding-top: 40px;
      }

      ~.skiplink-container {
        padding-top: 40px;
      }
    }

    .govuk-hide-this-page__container.govuk-hide-this-page__enabled {
      float: none;

      .govuk-hide-this-page__position {
        top: 0;
        left: 0;
        width: 100vw;
        background: govuk-colour("light-grey", $legacy: "grey-3");
      }

      .govuk-hide-this-page__sizing {
        display: none;
      }
    }
  }
  @media only screen and (hover: none) {
    .laa-hide-this-page-info {
      display: none;
    }
  }

  .govuk-hide-this-page__container {
    display: none;
  }
}
