<script>
  function hideThisPage() {
      window.open("http://bbc.co.uk/weather", "_newtab");
  }
</script>

<div class="govuk-hide-this-page__container govuk-hide-this-page__enabled">
  <div class="govuk-hide-this-page__position">
    <a href="http://www.google.com" onclick="hideThisPage()" class="govuk-button govuk-button--warning govuk-hide-this-page">
      <strong>Hide this page</strong>
    </a>
  </div>
  <p class="govuk-button govuk-hide-this-page__iesizing">
    <strong>Hide this page</strong>
  </p>
</div>
